body {
    background-image: url(background.JPG); 
}

h1   {

	font-family:'Berkshire Swash', cursive;
	font-size: 75px;
	text-align: center;
}

p { 
	color:#390c5e
	font-size: 50px; 
	font-family:'Berkshire Swash', cursive;
}